In [1]:
import pandas as pd

# Load the dataset from an Excel file
data = pd.read_excel('Online_Retail_Categorized.xlsx', engine='openpyxl')

# Inspect the data
print(data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom
1 2010-12-01 08:26:00       3.39       17850  United Kingdom
2 2010-12-01 08:26:00       2.75       17850  United Kingdom
3 2010-12-01 08:26:00       3.39       17850  United Kingdom
4 2010-12-01 08:26:00       3.39       17850  United Kingdom

                    Category
0           Home and kitchen
1         Garden and outdoor
2           Home and kitchen
3     Arts, crafts, & sewing
4  Clothing, shoes & jewelry

In [2]:
print(data.isnull().sum())  # Check for null values

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Category       1
dtype: int64

In [3]:
# Drop rows with missing values in 'Description' and 'CustomerID'
data = data.dropna(subset=['Description', 'CustomerID', 'Category'])

# Check if any missing values remain
print(data.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Category       0
dtype: int64

In [9]:
import pandas as pd

# Load your data
data = pd.read_excel('Online_Retail_Categorized.xlsx', engine='openpyxl')

# Remove any rows with missing CustomerID or Category (optional)
data = data.dropna(subset=['CustomerID', 'Category'])

# Create a transaction matrix where each row is a customer and each column is a category
customer_category_matrix = data.groupby(['CustomerID', 'Category'])['Quantity'].sum().unstack().reset_index().fillna(0)

# Convert the 'Quantity' values to 1 (if purchased) or 0 (if not purchased)
customer_category_matrix = customer_category_matrix.applymap(lambda x: 1 if x > 0 else 0)

# Drop the CustomerID column for association rule mining
customer_category_matrix = customer_category_matrix.drop('CustomerID', axis=1)

# Display the customer-category matrix
#print(customer_category_matrix.head())


from mlxtend.frequent_patterns import apriori, association_rules

# Apply the Apriori algorithm to find frequent itemsets with a minimum support of 0.05
frequent_itemsets = apriori(customer_category_matrix, min_support=0.05, use_colnames=True)

# Generate association rules based on Lift, with a minimum threshold of 1.0
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0, num_itemsets= 2)

# Display the association rules
rules

/var/folders/f2/1t0fmkl56p5_5p_tylgtrrqw0000gn/T/ipykernel_60186/150289374.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  customer_category_matrix = customer_category_matrix.applymap(lambda x: 1 if x > 0 else 0)
/opt/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Baking and cooking supplies),"(Arts, crafts, & sewing)",0.071429,0.693878,0.066327,0.928571,1.338235,1.0,0.016764,4.285714,0.272189,0.094891,0.766667,0.512080
1,"(Arts, crafts, & sewing)",(Baking and cooking supplies),0.693878,0.071429,0.066327,0.095588,1.338235,1.0,0.016764,1.026713,0.825641,0.094891,0.026018,0.512080
2,(Beauty),"(Arts, crafts, & sewing)",0.071429,0.693878,0.056122,0.785714,1.132353,1.0,0.006560,1.428571,0.125874,0.079137,0.300000,0.433298
3,"(Arts, crafts, & sewing)",(Beauty),0.693878,0.071429,0.056122,0.080882,1.132353,1.0,0.006560,1.010286,0.381818,0.079137,0.010181,0.433298
4,"(Arts, crafts, & sewing)",(Books),0.693878,0.056122,0.056122,0.080882,1.441176,1.0,0.017180,1.026939,1.000000,0.080882,0.026232,0.540441
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4355,(Grocery),"(Clothing, shoes & jewelry, Toys, Home and kit...",0.346939,0.091837,0.066327,0.191176,2.081699,1.0,0.034465,1.122820,0.795673,0.178082,0.109385,0.456699
4356,(Toys),"(Clothing, shoes & jewelry, Grocery, Home and ...",0.204082,0.147959,0.066327,0.325000,2.196552,1.0,0.036131,1.262283,0.684418,0.232143,0.207784,0.386638
4357,(Home and kitchen),"(Clothing, shoes & jewelry, Grocery, Toys, Art...",0.846939,0.066327,0.066327,0.078313,1.180723,1.0,0.010152,1.013005,1.000000,0.078313,0.012838,0.539157
4358,"(Arts, crafts, & sewing)","(Clothing, shoes & jewelry, Grocery, Toys, Hom...",0.693878,0.066327,0.066327,0.095588,1.441176,1.0,0.020304,1.032354,1.000000,0.095588,0.031340,0.547794
4359,(Garden and outdoor),"(Clothing, shoes & jewelry, Grocery, Toys, Hom...",0.403061,0.081633,0.066327,0.164557,2.015823,1.0,0.033424,1.099258,0.844181,0.158537,0.090295,0.488528