In [15]:
import pandas as pd

# Load the dataset from an Excel file
data = pd.read_excel('Online_Retail_Categorized.xlsx', engine='openpyxl')

# Inspect the data
print(data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom
1 2010-12-01 08:26:00       3.39       17850  United Kingdom
2 2010-12-01 08:26:00       2.75       17850  United Kingdom
3 2010-12-01 08:26:00       3.39       17850  United Kingdom
4 2010-12-01 08:26:00       3.39       17850  United Kingdom

                    Category
0           Home and kitchen
1         Garden and outdoor
2           Home and kitchen
3     Arts, crafts, & sewing
4  Clothing, shoes & jewelry

In [16]:
print(data.isnull().sum())  # Check for null values

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Category       1
dtype: int64

In [18]:
# Drop rows with missing values in 'Description' and 'CustomerID'
data = data.dropna(subset=['Description', 'CustomerID', 'Category'])

# Check if any missing values remain
print(data.isnull().sum())

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Category       0
dtype: int64